<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Title -->
    <title>Espace Administrateur GuestAndHost</title>

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/vendor/themify-icons/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/vendor/font-awesome/css/font-awesome.min.css') }}">

    <!-- Neptune CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/css/core.css') }}">

</head>
<body class="img-cover" style="background-image: url({{ asset('bundles/img/photos-1/2.jpg') }});>

<div class="container-fluid >
    <div class="sign-form">
        <div class="row">
            <div class="col-md-4 offset-md-4 p-x-3">
                <div class="box b-a-0">
                    <div class="p-a-2 text-xs-center">
                        <h5>Espace Administrateur</h5>
                    </div>
                    {% block admin_login %}
                    {% endblock admin_login %}
                    <div class="p-a-2 text-xs-center text-muted">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Vendor JS -->
<script type="text/javascript" src="{{ asset('bundles/js/app.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/js/demo.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/js/index.js') }}"></script>
</body>
</html>