{% extends 'MyAppUserBundle::layout.html.twig' %}
{% block body %}
    <!-- <link rel="stylesheet" href="{{ asset('bundles/front/css/theme-default.css') }}">-->
    <div class="dashboard menu-default hover-default sidebar-left">
        <div class="site-wrap js-site-wrap" >
            <div class="center">
                <div class="container">
                    <div class="row">
                        <header class="site__header">
                            <h1 class="site__title site__title--center">Mes réservations</h1>

                        </header>
                        <!-- BEGIN LISTING-->

                        <div class="site site--dashboard" style="background:white">
                            <header class="site__header">


                            </header>


                            <div class="site__main">


                                <div class="navbar navbar-default" style="margin-top:20px;margin-bottom:10px;padding-left:0px;padding-right:0px;width: 880px;height: 80px ">
                                    <div class="navbar-collapse collapse navbar-responsive-collapse" style="padding-left: 0px;margin-top:10px">
                                        <ul class="nav navbar-nav navbar-left" >
                                            <li class="navbar__item js-dropdown"><a class="navbar__link" style="color:white;font-size: 14px" href="{{ path('Mes Reservations')}}">Mes Reservations
                                                    <svg class="navbar__arrow">
                                                        <use xlink:href="#icon-arrow-right"></use>
                                                    </svg></a>

                                            </li>

                                            <li class="navbar__item js-dropdown active"><a class="navbar__link" style="color:white;font-size: 14px" href="{{ path('Res des visiteurs')}}">Les réservations de mes visiteurs
                                                    <svg class="navbar__arrow">
                                                        <use xlink:href="#icon-arrow-right"></use>
                                                    </svg></a>

                                            </li>

                                            <li class="navbar__item js-dropdown"><a class="navbar__link" style="color:white;font-size: 15px">Paiment
                                                    <svg class="navbar__arrow">
                                                        <use xlink:href="#icon-arrow-right"></use>
                                                    </svg></a>
                                                <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                                                    <button class="navbar__back js-navbar-submenu-back">
                                                        <svg class="navbar__arrow">
                                                            <use xlink:href="#icon-arrow-left"></use>
                                                        </svg>Back
                                                    </button>
                                                    <div class="navbar__submenu" style="width: 400px">
                                                        <ul class="navbar__subnav">
                                                            <li class="navbar__subitem" ><a href="{{ path('Mes reservations a payer')}}" class="navbar__sublink js-navbar-sublink" style="color:white">Mes réservations à payer</a></li>
                                                            <li class="navbar__subitem"><a href="{{ path('Historique Paiment')}}" class="navbar__sublink js-navbar-sublink" style="color:white">Mon historique paiment</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="nav navbar-nav navbar-right" style="margin-top: 5px; width: 100px;margin-right: 75px">
                                            <li>
                                                <form class="navbar-form navbar-left">
                                                    <input type="text" placeholder="Rechercher.." class="form-control" style="width:170px;font-family:Source Sans Pro, sans-serif;">
                                                    <button type="submit" class="form__lens col-lg-3"><span class="glyphicon glyphicon-search"></span></button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.nav-collapse-->


                                </div>

                                <div class="widget js-widget widget--main widget--no-margin">

                                    <div class="widget__content">

                                        <div class="listing--items listing--list">
                                            <div class="listing__list">
                                                {% for i in r %}

                                                    <dl class="listing__item">
                                                        <dt class="listing__title" style="color: #2c3e50">{{ i.idUser }}</dt>
                                                        <dd class="listing__body">
                                                            <div class="listing__categories" style="margin-top: 10px;margin-bottom: -10px;color:#007a87">Etat: {{ i.etat }}</div>
                                                            <ul class="listing__list">
                                                                <li class="listing__param" style="color: #2c3e50">Date Arrivée: <strong>{{ i.dateDebut|date('d-m-Y') }}</strong></li>
                                                                <li class="listing__param" style="color: #2c3e50">Date Départ: <strong>{{ i.dateFin|date('d-m-Y') }}</strong></li>
                                                                <li class="listing__param" style="color: #2c3e50">Nombre nuitée(s): <strong>{{ i.nbNuite }} nuitée(s)</strong></li>
                                                                <li class="listing__param" style="color: #2c3e50">Total: <strong>{{ i.prix }}</strong></li>
                                                            </ul>
                                                            <button class="listing__delete"><a href="{{ path('Accepter Reservation',{'id':i.id ,'idAnnonce':idAnnonce})  }}"/>Accepter</button>
                                                            <button  class="listing__view"><a href="{{ path('Refuser Reservation',{'id':i.id ,'idAnnonce':idAnnonce})  }}" style="color: white"/>Refuser</button>

                                                        </dd>
                                                    </dl>

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- END LISTING-->
                        <!-- BEGIN SIDEBAR-->
                        <div class="sidebar sidebar--dashboard">
                            <div class="widget js-widget widget--sidebar-dashboard widget--collapsing">
                                <div class="widget__header"><a class="widget__btn js-widget-btn widget__btn--toggle">Annonces</a>
                                </div>
                                <div class="widget__content">
                                    <nav class="nav nav--sidebar">
                                        <ul class="nav__list">
                                            <li class="nav__item"><a href="{{ path('Recharger Compte')}}"
                                                                     class="nav__link">
                                                    <svg class="nav__icon">
                                                        <use xlink:href="#icon-dashboard"></use>
                                                    </svg>
                                                    Profile</a></li>
                                            <hr class="nav__separator">
                                            <li class="nav__item"><a href="{{ path("afficherAnnonceUser") }}" class="nav__link">
                                                    <svg class="nav__icon">
                                                        <use xlink:href="#icon-add-listing"></use>
                                                    </svg>
                                                    Mes Annonces</a></li>
                                            <li class="nav__item">

                                            </li>
                                            <li class="nav__item"><a href="{{ path("AllMydemande_show") }}" class="nav__link">
                                                    <svg class="nav__icon">
                                                        <use xlink:href="#icon-news"></use>
                                                    </svg>
                                                    Mes Demandes</a></li>
                                            <li class="nav__item"><a href="{{ path("Afficher Favories") }}"
                                                                     class="nav__link">
                                                    <svg class="nav__icon">
                                                        <use xlink:href="#icon-user-admin"></use>
                                                    </svg>
                                                    Mes Favories</a></li>
                                            <hr class="nav__separator">

                                            <li class="nav__item"><a href="{{ url('experiences_affichage') }}" class="nav__link">
                                                    <svg class="nav__icon">
                                                        <use xlink:href="#icon-clock"></use>
                                                    </svg>
                                                    Mes Experiences</a></li>
                                            <li class="nav__item">
                                                <hr class="nav__separator">
                                            </li>
                                            <li class="nav__item"><a href="{{ path("Mes Reservations") }}" class="nav__link active">
                                                    <svg class="nav__icon">
                                                        <use xlink:href="#icon-favorite-listings"></use>
                                                    </svg>
                                                    Mes Reservations</a></li>
                                            <hr class="nav__separator">

                                            <li class="nav__item"><a href="{{ url('graphePie') }}" class="nav__link">
                                                    <svg class="nav__icon">
                                                        <use xlink:href="#icon-favorite-agents"></use>
                                                    </svg>
                                                    Statistiques</a></li>
                                            <li class="nav__item"><a href="#" class="nav__link">
                                                    <svg class="nav__icon">
                                                        <use xlink:href="#icon-favorite-search"></use>
                                                    </svg>
                                                    Paramètres</a></li>
                                            <li class="nav__item">
                                                <hr class="nav__separator">
                                            </li>
                                            <li class="nav__item"><a href="http://localhost:9090/GnH/GuestAndHost/guestandhost/web/app_dev.php/logout" class="nav__link">
                                                    <svg class="nav__icon">
                                                        <use xlink:href="#icon-financials"></use>
                                                    </svg>
                                                    Deconnèxion</a></li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- END SIDEBAR-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}